.container {
  font-family: "Share Tech Mono", monospace;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  max-width: 700px;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0.1;
}
input {
  margin-top: 20px;
}
.time {
  text-align: center;
}
.row {
  text-align: center;
}

.icon-today {
  font-size: 100px;
}

.temp-today {
  padding-top: 70px;
}

.temperature {
  font-size: 100px;
}

.degrees {
  font-size: 14px;
}

#celsius {
  text-decoration: none;
}

#fahrenheit {
  text-decoration: none;
}

.row.hourly {
  margin: 40px 25px 0;
}

.row.daily {
  line-height: 2.5;
  margin: 0 150px 40px;
  padding-bottom: 20px;
}
